    .webix_badge {
        border: 2px solid #FFFFFF;
        box-sizing: content-box;
        background-color: #FF5C4C;
        line-height: 16px;
        min-width: auto;
        padding: 0;
        height: 16px;
        width: 16px;
    } 
    .darkHeader {
       background: #20262B;
        border-color: #20262B;
    }
    .webix_toolbar .webix_el_label .webix_el_box{
        color:#FFFFFF;
    }
    
