.mainPart{
    background: #2B343B;
    border-color: #2B343B;
}
.dark{
    background: #20262B;
    border-color: #20262B;
 }
.webix_el_label .webix_el_box{
    color: #FFFFFF;
}
.webix_chart{
    background:  rgba(34, 41, 46, 1);
    border-color:  rgba(34, 41, 46, 1);
}