
	.sidebarMenu, .sidebarUser {
		/* border-bottom-color: #707886; */
		background: #20262B;
		border-color: #20262B;
	}
	.sidebarUser {
		border-bottom-color: #707886;
	}
/* .sidebarMenu .webix_tree_item.webix_icon {
			color: #fff;
		} */
		.webix_sidebar .webix_tree_item.webix_selected,
		.webix_sidebar .webix_tree_item.webix_selected{
			background-color: #384047;
			font-weight: 500;
		}
		.webix_sidebar .webix_tree_item.webix_selected span, .webix_sidebar .webix_tree_item.webix_selected .webix_sidebar_icon {
			color: #7A67EB;

		}
		.webix_sidebar .webix_tree_item span{
			font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
			color: #FFFFFF;
		}

		.webix_sidebar .webix_tree_item .mdi{
			color: #9FA1AE;
		}
/* .webix_sidebar.newTag {
	color: #7A67EB;
}
	.webix_sidebar .newTag .mdi {
		color: #7A67EB;
	} */
.userWrapp {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 0;
	flex-direction: column;
    
}
.userImg {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: 12px;
    
}
    .userImg	img {
		width: 123px; 
		height: 123px;
		/* width: 50%;
		height: 50%; */
		border-radius: 50%;
		overflow: hidden;
	}

.userInfo {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	width: 143px;
	height:143px;
}
.userName {
	display: flex;
	justify-content: center;
	color: #fff;
	 font-weight: 500;
	font-size: 16px;
	line-height: 20px; 
	/* font-size: 0.04vh; */
	 line-height: 20px; 
	margin-bottom: 4px;
}
.userPosition {
	display: flex;
	justify-content: space-between;
/* flex-direction: column; */
	color: rgba(255, 255, 255, 0.7);
}
.userResult{
	/* margin-left: 30px; */
	 color: #FFFFFF;
}
.userStatus {
	background-color: #55CD97;
	border-radius: 50%;
	border: 5% solid #fff;
	width: 12px;
	height: 12px;
	/* width: 3%;
	height: 6%; */
	position: absolute;
	bottom: 10px;
	right: 10px;
	/* bottom: 10%;
	right: 32%; */
}