.topColor .webix_template {
    display: flex;
    flex-direction: column;
    
	 justify-content: center; 
	 align-items: center;
} 
.topColor {
    background:  rgba(32, 38, 43, 0.8);
    border-color:  rgba(32, 38, 43, 0.8);
}
.temp1{
	display: flex;
	justify-content: space-around;
	align-items: center; 
    margin:0px;
	border-radius: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 8px;
}
.stil1{
	display:block;
}
.temp{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding:44px 30px; 
    margin:0px;
	border-radius: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 8px;
    color: #303030;
    background:  rgba(34, 41, 46, 1);
    border-color:  rgba(34, 41, 46, 1);
}
.borderLess .webix_dataview_item{
   border:none
  }
  .daily .webix_dataview_item{
    padding: 0px 12px;
  }
 