.yourGoals{
background:   #22292E;
border: 1px solid #384047;
}
.fitnrssA{
    border-bottom:  1.5px solid #595E62; 
    }
.completeWrapp {
/* width: 80px; */
height: 8px;
border-radius: 20px;
background: #595E62;
position: relative;
overflow: hidden;
font-size: 12px;
}

.completeWrapp2 {
    width: 130px;
    font-size: 12px;
    } 
.completeBar {
background: linear-gradient(270deg, #7A67EB 9.76%, #541890 93.75%);
position: absolute;
top: 0;
left: 0;
bottom: 0;
font-size: 12px;
}
.completeBar1 {
    /* background: #6338B4; */
    background:linear-gradient(270deg, #F6D365 43.32%, #F27551 100.07%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 12px;
    }
.completeVal {
font-weight: 500;
line-height: 20px;
margin-left: 12px;
font-size: 12px;
}
.completeVal1 {
font-weight: normal;
font-size: 12px;
line-height: 16px;
color:rgba(255, 255, 255, 0.7);
}
.listText{
color:#FFFFFF;
font-size: 12px;
}
.yourG{
display:flex;
justify-content: space-between;
padding:5px;
}
.yourGoals .webix_list_item{
border-top: 1px solid #384047;
 border-bottom: 0px; 
 font-size: 12px;
}
/* .myChart */
.webix_canvas_text.webix_axis_item_y, .webix_canvas_text.webix_axis_item_x{
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 10px;
color: #94A1B3;
}
.listW, .listW .webix_list_item{
    background-color:   #22292E;
    border-color:  #22292E;
}

.fl{
    display: flex;
    justify-content: space-between;
}
.objTit{
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color:#FFFFFF
}    
.objRst{
    font-family: 'Roboto';
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0px;
text-align: left;
color:rgba(255, 255, 255, 0.7)
} 
.objFire.mdi.mdi-play-circle-outline{
    color: #7A67EB;
}
.fontClass .webix_el_box{
    font-size: 12px;
}
.borderB{
    border-bottom: 1px solid #2B343B;
    margin-top: 10px;
    }
    .colorB{
        background-color: rgba(34, 41, 46, 1);
        border: rgba(34, 41, 46, 1);
        }
    .webix_view.yourGoals.webix_layout_line{
        margin-left:0px !important;
    }

    .webix_dataview_item.tiles {
        border: 1px solid rgba(32, 38, 43, 0.8);
        background-color: rgba(32, 38, 43, 0.8);;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 8px;
padding:2px 5px;
    }
    .webix_view.webix_dataview.colorB{
        margin-top: 10px !important;
    }